.loginLogo {
  height: 15rem;
}

.loginBackground {
  background-image: url("../images/version2Designs/zak-7wBFsHWQDlk-unsplash.jpg");
}

.form-container {
  width: 20rem;
}

.tvs-upload-form {
  width: 100%;
}