.loginLogo {
    height: 15rem;
}

.signUpBackground {
    background-image: url("../images/version2Designs/zak-7wBFsHWQDlk-unsplash.jpg");
}

.form-container-signup {
    width: 30rem;
}

.tvs-upload-form {
    width: 100%;
}